/* html {
    background-color: lightblue
} */

body {
    background-image: url("../images/crystal.jpeg");
    background-repeat: no-repeat;
    width: 100%;
}

.label {
    color: blue;
}

h1 {
    color:whitesmoke;
}

p {
    color: whitesmoke;
}

#psychicGame {
    margin-left: 20px;
}